
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.login__img{
    width: auto;
    border-radius: 0;
    margin-bottom: 2rem;
}
.login__title{
    text-align: center;
    font-size: 2rem;
    margin: 1rem 0;
}
.main__login{
   max-width: 960px;



}

.login__container-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 769px) {
    .main__login{
       display: grid;
       grid-template-columns: 1fr 1fr;
     }
     .login__img{
        border-radius: 20px;
        margin-bottom: 0;
    }
  }


.form{

    margin: auto;
   
    max-width: fit-content;
    padding: 12px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);

}

.form__field{
   width: 100%;
}

.form__field label{
    display: block;
    font-size: 1rem;
    padding: .75rem 0;

}

.form__field input{
    padding: 0.5rem 1rem;
    border-radius: 10px;
    border: 2px solid var(--color_green);


}

.form__submit{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    border: none;
    font-weight: bold;
}
.form__submit:hover{
    background-color: var(--color_green);
    color: var(--color_white);
}