
:root{
    --color_yellow: rgb(206, 134, 66);
    --color_black: rgb(0, 0, 0);
    --color_white: rgb(255, 255, 255);
    --color_green: #0BCF6D;
    --color__red: #FF0000;
    --color__green__light:#E9F2EF;
}
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: var(--color_black);
    
}

img{
    max-width: 100%;
    height: auto;
}
textarea{
    display: block;
}

a{
    text-decoration: none;
    color: var(--color_black);
}
button{
    border: none;
    margin: 0 auto;
}

a:hover{
    text-decoration: underline;
}

table{
    margin: 0 auto;
}
td{
    text-align: center;
}

.container{
    max-width: 760px;
    margin: 0 auto;
    padding: 0 1em;
}


.table__desktop{
    display: none;
}



@media screen and (min-width: 769px) {
    .table__desktop{
        display: block;
    }
    .table__mobile{
        display: none;
    }
  }



.table__mobile{
    width: 100%;
    background-color: red;
  }
.table__mobile:nth-child(odd){
        background-color: red;

}


.table__desktop {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    color: #333;
    table-layout: fixed; 
    margin: 20px 0;

  }
  
  .table__desktop_head {
    background-color: red;
  }
  
  .table__desktop_head th {
    padding: 0.75em 1.5em;
    text-align: center;
    border-bottom: 2px solid #ddd;
    
    font-weight: bold;
    width: 23%; 
  }
  
  .table__desktop_body tr {
    transition: background-color 0.3s;
  }
  
  .table__desktop_body tr:hover {
    background-color: #f1f1f1;
  }
  
  .table__desktop_body td {
    padding: 1rem 2rem;
    border-bottom: 1px solid #ddd;
    border-radius: 10px;
  }
  
 